body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 150px;
  background-color: #1f2937;
}
.header-r-links {
  display: flex;
  gap: 25px;
}
.white-text {
  color: #f9faf8;
}
.grey-text {
  color: grey;
}
.left-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main-hero-text {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 0;
}
.block1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 75px 100px;
  gap: 10px;
  background-color: #1f2937;
}
.hero-image {
  background-color: grey;
  padding: 70px 100px;
}

.sign-up-button {
  width: 100px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border: 0;
  border-radius: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* second part of the body */

.block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#randominfo {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.card-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 135px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.placeholder-box {
  width: 125px;
  height: 125px;
  border: 2px solid;
  border-color: black;
  border-radius: 10%;
}

/* third part */
.block3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
#quote {
  max-width: 700px;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
#author {
  padding-left: 300px;
  font-weight: bold;
  font-size: 20px;
}
/* forth part */
.block4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-action {
  display: flex;
  color: #e5e7eb;
  background-color: #3882f6;
  max-width: 700px;
}
